.swiper_container{
		width: 100%;
		position: relative;
		overflow: hidden;
		border-radius: 0.375rem;
		height: 515px;
		margin-bottom: 50px;
}
.swiper_slide{
		width: 100%;
		height: 100%;
		position: relative;
}
.swiper_slide img{
		width: 100%;
		height: 100%;
		object-fit: cover;
}
.btn-prev{
		position: absolute;
		top: 50%;
		left: 2%;
		transform: translateY(-50%);
		z-index: 50;
}
.btn{
		background-color: rgba(0, 0, 0, 0.5);
		color: white;
		border: none;
		padding: 0.5rem 1rem;
		border-radius: 0.375rem;
		cursor: pointer;
}
.btn-next{
		position: absolute;
		top: 50%;
		right: 2%;
		transform: translateY(-50%);
		z-index: 50;
}